
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background: #E9E9E9;     
    }
    .menu {
        background: #24589C;
        min-height:40px;
        padding-top: 0.3em;
    }
    .menu .menu-bar {
        padding-bottom: 0.4em;
    }
    .menu .menu-bar a {
        color: #fff;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 0.5em;
    }
    .menu-bar span {
        float: right;
        margin-right: 0.5em;
    }
    .menu .menu-opciones{
        padding: 0.8em 0;
        display: none;
    }
    .menu .menu-opciones ul {
        list-style: none;
        overflow: hidden;
    }
    .menu .menu-opciones ul li {
        margin: 0.5em 0.6em;
    }
    .menu .menu-opciones ul li span {
        margin-right: 0.3em;
    }
    .menu .menu-opciones ul li a {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
        font-family: 'Montserrat-regular';
    }  
    .logo-menu {
        display: none ;
    }
    .contenedor-logo {
        background: #E9E9E9;
        padding: 1em;
    }
    p.informacion {
        background: #E9E9E9;
        color: #676767;
        font-size: 1.9rem;
        margin: 0.6em 0.5em 0 0;
        text-align: right;
    }
    .logo {
        display: block;
        margin: 0 auto;
        width: 40%;
    }




