@media(min-width:1024px) {
    /*MENU, LOGO, SLIDER, CONTAINER */
    .logo {
        display: none;
    }
    .menu, .container {
        display: inline-block;
        vertical-align: top;     
    }
    .contenedor-logo {
        display: none;
    }
    .container {
        width: 82%;
        background: #fff;
    }
    /*MENU*/
    .menu {
        width: 15%;
        background:  none !important;
        margin: 0.7em 0;
    }
    .menu-bar {        
        opacity: .8 !important;
    }
    .menu-bar span {
        display: none;
    }
    
    .menu-bar a {        
        color: #24589C !important;
        margin-left: 0.8em !important;
        font-weight: 400 !important;
    }
    
    .menu-opciones {
        display: block !important;
        background: #E9E9E9;  
    }
    
    .menu-opciones li {
        margin-left: 0.9em !important;
        padding: 0.2em 0.2em !important;
    }
    
    .menu-opciones li:hover {
        background: #F1F1F1 !important;
    }
    .menu-opciones li span {
        margin-right: 0.5em !important;
    }
    .menu-opciones ul li a {
        color: #676767 !important;
        font-size: 1.6rem !important;
    }
    .logo-menu {
        display: block;
        margin: 0 auto;
        width: 40%;
    }
    /*SLIDER*/
    .contenedor-slider {
        background: #fff;
        width: 80%; 
        margin: 1em auto  !important;
    }
    /*SOLICITUDES*/
    .contenedor-solicitudes {
        width: 90%;
    }
    /*NOTIFICACIONES*/
    .contenedor-notificaciones {
        width: 80%;
        margin: 0 auto;
    }
    .contenedor-notificaciones .tabla-notificaciones {
        margin-left: 5em;
    }
    
    .contenedor-notificaciones table tr {
        width: 30%;
    }
    

}