$barra-menu : #FAFAFA;
$letras-menu : #5A5A5A;
$lineas : #EFEFEF;
$sombras : #DCDCDC;
$color-primario : #3974D8;
$color-secundario : #FBBC05;
$color-terciario : #EA4335;
* {
    padding: 0;
    margin: 0;
}
.fuente-flat {
    font-family: 'flat';
}
.fuente-bold {
    font-family: 'bold';
}


#container-panel {
    @extend .fuente-flat;
    header { 
        background: $barra-menu;
        height: 55px;
        box-shadow: 0px 2px 8px $sombras;
        .menu-top, div {
            display: inline;
        }
        div {

            a {
                color: $letras-menu;
                text-decoration: none;
                img {
                    width: 1.5em;
                    margin: 0.3em 0.5em 0em 2em;
                }
            }
            a:hover {
                color: $color-primario;
            }
            
            a.exit {
                float: right;
                margin: 1.9em 2em 0 0;
                color: $color-primario;
                span {
                    margin-left: 0.3em;
                }
            }
        }
        .menu-top {
            float: right;
            ul {
                margin-right: 3.5em;
                margin-top: 2em;
                float: right;
                li {
                    @extend .fuente-bold;
                    color: $color-primario;
                    display: inline;
                    text-align: center;
                    padding: 0.5em 0.7em;
                    span {
                        font-size: 1.2rem;
                    }
                    >ul {
                        position: absolute;
                        padding: 0.7em  0.5em 0.5em 0.5em;
                        box-shadow: 2px 2px 12px $sombras, -2px -2px 12px $sombras;
                        width: 18em;
                        margin-top: 0.5em;
                        margin-left: 0.7em;
                        background: white;
                        display: none;
                        >li {
                            display: block;
                            text-align: left;
                            padding: 0.6em 0.6em;
                            @extend .fuente-flat;
                            border: none;
                        }
                        li:nth-child(1), li:nth-child(2){
                            border-bottom: solid 1px $lineas;
                        }
                        li {
                            color: $color-primario;
                        }
                        li:hover {
                            box-shadow: none;
                            background: $barra-menu;
                        }
                    }
                }  
                li:hover {
                    cursor: pointer;
                }
                
                li:hover > ul {
                    display: block;
                }
            }
        }
    }
    
    .container-inicio {
        color: $letras-menu;
        width: 30%;
        text-align: center;
        height: 16.3em;
        margin: 0 auto;
        border: solid 1px $lineas;
        margin-top: 1em;
        border-radius: 0.3em;
        box-shadow: 1px 1px 12px $sombras, -1px -1px 12px $sombras;
        display: none;
        h1 {
            @extend .fuente-bold;
            background: $barra-menu;
            margin-top: 0;
            padding: 0.2em 0;
        }
        >div {
            margin-top: 1em;
            border-top: solid 1px $lineas;
            div {
                color: $color-primario;
                width: 2em;
                margin: 0 auto;
            }
            >div:nth-child(1) {
                
            }
        }
        
    }
    
    .container-tabla-menu {
        nav {
            background: $barra-menu;
            color: $letras-menu;
            @extend .fuente-flat;
            color: $color-primario;
            margin-top: 0.2em;
                padding: 1em;
            ul {
                list-style: none;
                width: 100%;
                margin-left: 0.5em;
                li {
                    padding: 0.8em;
                    font-size: 1.4rem;
                    display: inline;
                    text-align: center;
                    margin-left: 0.8em;
                    span {
                        margin-right: 0.5em;                        
                    }
                    >ul {
                        width: 20em;
                        position: absolute;
                        background: $color-primario;
                        margin: 0.8em 0 0 -1em;
                        display: none;
                        padding: 0.5em;
                        >li {
                            display: block;
                            text-align: left;
                            font-weight: 200;
                            padding-top: 0.4em;  
                        }
                        >li:hover {
                            border-left: solid 5px white;
                        }
                    }
                }
                li:nth-child(1) {
                    background: $color-primario;
                    color: white;
                }
                li:hover {
                    cursor: pointer;
                    background: $color-primario;
                    color: white;
                    
                }
                
            }
        }
    }
}